<?xml version="1.0" encoding="UTF-8"?>
<!--
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
<display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/carBrandTag.tld</taglib-location>
        </taglib>
    </jsp-config>

    <!--============================================================
          Controller
      =============================================================-->
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.epam.tkach.carrent.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <!--============================================================
  i18n support
  =============================================================-->
    <!-- this way we set the resource bundle name -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources</param-value>
    </context-param>

    <!-- this way we set the default locale (optional) -->
    <!-- the (preferable) browser's locale will be used if we don't set the default locale -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>ua</param-value>
    </context-param>

    <!-- supported locales -->
    <context-param>
        <param-name>locales</param-name>
        <param-value>ua en</param-value>
    </context-param>
    <!--Log4J2-->
    <context-param>
        <param-name>isLog4jAutoInitializationDisabled</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>file:///resources/log4j2.xml</param-value>
    </context-param>

    <filter>
        <filter-name>charsetFilter</filter-name>
        <filter-class>com.epam.tkach.carrent.controller.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF8</param-value>
        </init-param>
        <init-param>
            <param-name>responseEncoding</param-name>
            <param-value>cp1251</param-value>
        </init-param>
    </filter>
    <!--Security filter-->
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.epam.tkach.carrent.controller.filters.SecurityFilter</filter-class>

        <init-param>
            <param-name>admin</param-name>
            <param-value>openNewCarBrandPage openNewCarModelPage openNewCarPage</param-value>
        </init-param>

        <init-param>
            <param-name>manager</param-name>
            <param-value>main users services registration edit_client profile add_tariff edit_tariff remove_tariff</param-value>
        </init-param>

        <init-param>
            <param-name>client</param-name>
            <param-value>account personal_data user_profile transactions save_profile</param-value>
        </init-param>

        <init-param>
            <param-name>common</param-name>
            <param-value>openLoginForm openRegisterForm login logout register i18n redirect</param-value>
        </init-param>
        <init-param>
            <param-name>out-of-control</param-name>
            <param-value>login i18n</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <!--
        <servlet-name>Controller</servlet-name>
        -->
    </filter-mapping>
    <!--Security filter-->

    <filter-mapping>
        <filter-name>charsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>


